{% extends "base.html" %}
{% load static %}

{% block page_title %}{{render_month|capfirst}} Challenge{% endblock %}
{% block css_files %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "challenges/main.css" %}">
{% endblock %}

{% block content %}
{% include "challenges/includes/header.html" with backward_path="challenges-index" backward_name="All challenges" %}
<h1>{{render_month|capfirst}}'s Challenge</h1>
    {% if render_text is not None%}
    <h2>{{render_text}}</h2>
    {% else %}
    <p>There is no challenge for this month.</p>
    {% endif %}
{% endblock %}